$control-text-col: #333333;

.container {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: fit-content;
}

.control-panel {
    padding: 1rem;
    flex: 1 1;
    min-width: fit-content;
}

.control-label {
    color: $control-text-col;
    user-select: none;
    margin: 2rem 0 0.3rem 0;
    display: block;
}

table.control-set-time {
    border-spacing: 0;
    border-collapse: collapse;

    tr td {
        text-align: center;
    }
}

.control-show-time td {
    font-size: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
