<div class="container">
    <div class="row">
        <div class="light seconds" [ngClass]="{'light-on': clockData.secondField}"></div>
    </div>
    <div class="row">
        <!--
            It would be much nicer to solve this with *ngFor. But that would re-create
            the DOM elements with every change, instead of modifying the existing elements.
            And that, in turn, makes any kind of CSS transition effects impossible.
        -->
        <div class="light hours" [ngClass]="{'light-on': clockData.row5HourFields[0]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row5HourFields[1]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row5HourFields[2]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row5HourFields[3]}"></div>
    </div>
    <div class="row">
        <div class="light hours" [ngClass]="{'light-on': clockData.row1HourFields[0]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row1HourFields[1]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row1HourFields[2]}"></div>
        <div class="light hours" [ngClass]="{'light-on': clockData.row1HourFields[3]}"></div>
    </div>
    <div class="row">
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[0]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[1]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[2], 'quarters': true}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[3]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[4]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[5], 'quarters': true}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[6]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[7]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[8], 'quarters': true}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[9]}"></div>
        <div class="light minutes minutes-small" [ngClass]="{'light-on': clockData.row5MinuteFields[10]}"></div>
    </div>
    <div class="row">
        <div class="light minutes" [ngClass]="{'light-on': clockData.row1MinuteFields[0]}"></div>
        <div class="light minutes" [ngClass]="{'light-on': clockData.row1MinuteFields[1]}"></div>
        <div class="light minutes" [ngClass]="{'light-on': clockData.row1MinuteFields[2]}"></div>
        <div class="light minutes" [ngClass]="{'light-on': clockData.row1MinuteFields[3]}"></div>
    </div>
    <!-- for debugging... -->
    <!-- <p style="text-align: center">{{this.date}}</p> -->
</div>
